<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{!-- {{#if eaten}}EAT ME!{{else}}yum{{/if}} --}}
		{{!-- {{#if !eaten}}EAT ME!  --}}
		EAT ME!
	</button>
</li>
